#block1 {
    border: 3px solid black;
    width: 200px;
    height: 100px;
}

#block2 {
    border: 3px solid red;
    width: 200px;
    height: 100px;
    /* position: relative;
    top:-20px; */
    position: absolute;
    top:80px;
    left: 180px;
}

#block3 {
    border: 3px solid black;
    width: 200px;
    height: 100px;
    position: relative;
    left: 400px;
}